*,
*::before,
*::after {
  box-sizing: border-box;
}
.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
}
html {
  background-color: #ffffff;
}
